<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ocean's Body</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
    <link rel = "stylesheet" href="../static/styles/style.css">
    <script src="script.js" defer></script>
    <style>
            #text {
                display :none;
            }
            body {
                display : flex;
                flex-direction: column;
                align-items: center;
                height : 100vh;
                text-align: center;
            }
            p {
                display: none;
                margin: 10px;
                padding: 150px;

            }
            button{
                cursor : pointer;
                margin-left:50px;
                margin-right:50px;
                transition: transform 0.3s ease, background-color 0.3s ease;
            }
            button:hover{
                transform: scale(1.1);
                background-color : #7cda60;
            }
        </style>
        <script>
        var last = null;
            function popbutton1(textId) {
                var txt1 = document.getElementById("text1");
                var txt2 = document.getElementById("text2");
                var targtext = document.getElementById(textId);
                if (targtext.style.display ==="block"){
                    targtext.style.display ="none";
                }
                else{
                txt1.style.display = "none";
                txt2.style.display = "none";
                targtext.style.display = "block";
                }
            }
            function popbutton2(textId) {
            var txt1 = document.getElementById("text3");
                var txt2 = document.getElementById("text4");
                var targtext = document.getElementById(textId);
                if (targtext.style.display ==="block"){
                    targtext.style.display ="none";
                }
                else{
                txt1.style.display = "none";
                txt2.style.display = "none";
                targtext.style.display = "block";
                }
            }
            function popbutton3(textId) {
                var txt1 = document.getElementById("text5");
                var txt2 = document.getElementById("text6");
                var targtext = document.getElementById(textId);
                if (targtext.style.display ==="block"){
                    targtext.style.display ="none";
                }
                else{
                txt1.style.display = "none";
                txt2.style.display = "none";
                targtext.style.display = "block";
                }
            }
            function popbutton4(textId) {
                var txt1 = document.getElementById("text7");
                var txt2 = document.getElementById("text8");
                var targtext = document.getElementById(textId);
                if (targtext.style.display ==="block"){
                    targtext.style.display ="none";
                }
                else{
                txt1.style.display = "none";
                txt2.style.display = "none";
                targtext.style.display = "block";
                }
            }
            
        </script>
</head>

<body>
    <h3 id="switch"><a href="{{ url_for('templates', filename='smoothie.html') }}">SWITCH</a></h3>
    <h3 id="au"><a href="{{ url_for('templates', filename='aboutus.html') }}">About us!</a></h3>
    <h1>Assemble your boat</h1>
    <button id="final" onclick="window.location.href='final.html'">Final</button>
    <p class="appear" class="motors" id = "text1" style= "display:none;"><img src="../image/mot1.png" alt="Moteur1" width=50% height=50%></p>
    <p class="appear" class="motord" id = "text2" style= "display:none;"><img src="../image/mot2.png" alt="Moteur2" width=50% height=50% ></p>
    <p class="appear" class="voiles" id = "text3" style= "display:none;"><img src="../image/voile1.png" alt="Voile1" width=50% height=50%></p>
    <p class="appear" class="voiles" id = "text4" style= "display:none;"><img src="../image/voile2.png" alt="Voile2" width=50% height=50% ></p>
    <p class="appear" class="coques" id = "text5" style= "display:none;"><img src="../image/coque1.png" alt="Coque1" width=50% height=50%></p>
    <p class="appear" class="coques" id = "text6" style= "display:none;"><img src="../image/coque2.png" alt="Coque2" width=50% height=50% ></p>
    <p class="appear" class="miscs" id = "text7" style= "display:none;"><img src="../image/misc1.png" alt="Misc1" width=50% height=50%></p>
    <p class="appear" class="miscs" id = "text8" style= "display:none;"><img src="../image/misc2.png" alt="Misc2" width=50% height=50% ></p>
    <ul class="tabs">
        <li data-tab-target="#motors" class="active tab">Motors</li>
        <li data-tab-target="#sails" class="tab">Sails</li>
        <li data-tab-target="#hulls" class="tab">Hulls</li>
        <li data-tab-target="#misc" class="tab">Misc.</li>
        <li data-tab-target="#close" class="tab">X</li>
    </ul>


    <div class="tab-content">
        <div id="motors" data-tab-content class="active">
            <button onclick = "popbutton1('text1'); selectComponent('mot1');" style="width:150px" style="height:150px"><img src="../image/mot1.png" alt="Moteur1" width=50% height=50%></button>
            <button onclick = "popbutton1('text2'); selectComponent('mot2');" style="width:150px" style="height:150px"><img src="../image/mot2.png" alt="Moteur2" width=50% height=50% ></button>
       </div>
        <div id="sails" data-tab-content>
            <button onclick = "popbutton2('text3'); selectComponent('sail1');" style="width:150px" style="height:150px"><img src="../image/voile1.png" alt="Voile1" width=50% height=50%></button>
            <button onclick = "popbutton2('text4'); selectComponent('sail2');" style="width:150px" style="height:150px"><img src="../image/voile2.png" alt="Voile2" width=50% height=50% ></button>
        </div>
        <div id="hulls" data-tab-content>
            <button onclick = "popbutton3('text5'); selectComponent('hull1');" style="width:150px" style="height:150px"><img src="../image/coque1.png" alt="Coque1" width=50% height=50%></button>
            <button onclick = "popbutton3('text6'); selectComponent('hull2');" style="width:150px" style="height:150px"><img src="../image/coque2.png" alt="Coque2" width=50% height=50% ></button>
        </div>
        <div id="misc" data-tab-content>
            <button onclick = "popbutton4('text7'); selectComponent('misc1');" style="width:150px" style="height:150px"><img src="../image/misc1.png" alt="Misc1" width=50% height=50%></button>
            <button onclick = "popbutton4('text8'); selectComponent('misc2');" style="width:150px" style="height:150px"><img src="../image/misc2.png" alt="Misc2" width=50% height=50% ></button>
        </div>

    <div id="close" data-tab-content>
        </div>
    </div>
</body>

</html>
