<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ocean's Body</title>
    <link href="{{ url_for('static', filename='styles/stylesmoothie.css') }}" rel="stylesheet" />
    <link rel = "stylesheet" href="../static/styles/stylesmoothie.css">
    <script src="script.js" defer></script>
    <style>
            #text {
                display :none;
            }
            body {
                display : flex;
                flex-direction: column;
                align-items: center;
                height : 100vh;
                text-align: center;
            }
            p {
                display: none;
                margin: 10px;
                padding: 150px;

            }
            button{
                cursor : pointer;
                margin-left:50px;
                margin-right:50px;
                transition: transform 0.3s ease, background-color 0.3s ease;
            }
            button:hover{
                transform: scale(1.1);
                background-color : #7cda60;
            }
        </style>
        <script>
            var last = null;
            function popbutton1(textId) {
                var txt1 = document.getElementById("text1");
                var txt2 = document.getElementById("text2");
                var targtext = document.getElementById(textId);
                if (targtext.style.display ==="block"){
                    targtext.style.display ="none";
                }
                else{
                txt1.style.display = "none";
                txt2.style.display = "none";
                targtext.style.display = "block";
                }
            }
            function popbutton2(textId) {
                var txt1 = document.getElementById("text3");
                var txt2 = document.getElementById("text4");
                var targtext = document.getElementById(textId);
                if (targtext.style.display ==="block"){
                    targtext.style.display ="none";
                }
                else{
                txt1.style.display = "none";
                txt2.style.display = "none";
                targtext.style.display = "block";
                }
            }
            function popbutton3(textId) {
                var txt1 = document.getElementById("text5");
                var txt2 = document.getElementById("text6");
                var targtext = document.getElementById(textId);
                if (targtext.style.display ==="block"){
                    targtext.style.display ="none";
                }
                else{
                txt1.style.display = "none";
                txt2.style.display = "none";
                targtext.style.display = "block";
                }
            }
            function popbutton4(textId) {
                var txt1 = document.getElementById("text7");
                var txt2 = document.getElementById("text8");
                var targtext = document.getElementById(textId);
                if (targtext.style.display ==="block"){
                    targtext.style.display ="none";
                }
                else{
                txt1.style.display = "none";
                txt2.style.display = "none";
                targtext.style.display = "block";
                }
            }
        </script>
</head>

<body>
    <h3 id="switch"><a href="index.html">SWITCH</a></h3>
    <h3 id="au"><a href="aboutus.html">About us!</a></h3>
    <h1>Prepare your smoothie</h1>
    <p style="display:block"><img src="../image/blender.png"></p>
    <p class="appear" id = "text1" style= "display:none;"><img src="../image/liquid1.png" alt="Liquid1" width=50% height=50%></p>
    <p class="appear" id = "text2" style= "display:none;"><img src="../image/liquid2.png" alt="Liquid2" width=50% height=50% ></p>
    <p class="appear" id = "text3" style= "display:none;"><img src="../image/fruit1.png" alt="Fruit1" width=50% height=50%></p>
    <p class="appear" id = "text4" style= "display:none;"><img src="../image/fruit2.png" alt="Fruit2" width=50% height=50% ></p>
    <p class="appear" id = "text5" style= "display:none;"><img src="../image/veg1.png" alt="Veg1" width=50% height=50%></p>
    <p class="appear" id = "text6" style= "display:none;"><img src="../image/veg2.png" alt="Veg2" width=50% height=50% ></p>
    <p class="appear" id = "text7" style= "display:none;"><img src="../image/top1.png" alt="Topping1" width=50% height=50%></p>
    <p class="appear" id = "text8" style= "display:none;"><img src="../image/top2.png" alt="Topping2" width=50% height=50% ></p>
    <button onclick id="final">Dernier texte<a href="final.html"></a></button>
    <ul class="tabs">
        <li data-tab-target="#liquids" class="active tab">Liquids</li>
        <li data-tab-target="#fruits" class="tab">Fruits</li>
        <li data-tab-target="#vegetables" class="tab">Vegetables</li>
        <li data-tab-target="#toppings" class="tab">Toppings</li>
        <li data-tab-target="#close" class="tab">X</li>
    </ul>


    <div class="tab-content">
        <div id="liquids" data-tab-content class="active">
            <button onclick = "popbutton1('text1')" style="width:150px" style="height:150px"><img src="../image/liquid1.png" alt="Liquid1" width=50% height=50%></button>
            <button onclick = "popbutton1('text2')" style="width:150px" style="height:150px"><img src="../image/liquid2.png" alt="Liquid2" width=50% height=50% ></button>
        </div>
        <div id="fruits" data-tab-content>
            <button onclick = "popbutton2('text3')" style="width:150px" style="height:150px"><img src="../image/fruit1.png" alt="Fruit1" width=50% height=50%></button>
            <button onclick = "popbutton2('text4')" style="width:150px" style="height:150px"><img src="../image/fruit2.png" alt="Fruit2" width=50% height=50% ></button>
        </div>
        <div id="vegetables" data-tab-content>
            <button onclick = "popbutton3('text5')" style="width:150px" style="height:150px"><img src="../image/veg1.png" alt="Veg1" width=50% height=50%></button>
            <button onclick = "popbutton3('text6')" style="width:150px" style="height:150px"><img src="../image/veg2.png" alt="Veg2" width=50% height=50% ></button>
        </div>
        <div id="toppings" data-tab-content>
            <button onclick = "popbutton4('text7')" style="width:150px" style="height:150px"><img src="../image/top1.png" alt="Top1" width=50% height=50%></button>
            <button onclick = "popbutton4('text8')" style="width:150px" style="height:150px"><img src="../image/top2.png" alt="Top2" width=50% height=50% ></button>
        </div>
        <div id="close" data-tab-content>
        </div>
    </div>
</body>

</html>
