[data-tab-content]{
    display:none;
}

.active[data-tab-content]{
    display:block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tabs
{
    display:flex;
    justify-content:space-around;
    list-style-type:none;
    height:auto;
    padding:0.8%;
    width:100%;
    border-top: 5px solid #990243;
    position:fixed;
    bottom:0;
    background-color:#cf025b;
}

.tab
{
    cursor:pointer;
    margin:2px;
}

.tab.active
{
    background-color: #fc388c;
}

.tab:hover
{
    background-color: #990243;
}

.tab-content
{
    margin-left:20px;
    margin-right:20px;
    position:fixed;
    width:100%;
    bottom:11.5%;
    background-color: #fc388c;
    border-top: 5px solid #cf025b;
}

h1
{
    position:fixed;
    color:#990243;
    top:0;
}

#switch
{
    position:fixed;
    color:black;
    top:0;
    right:0;
}

#switch:hover
{
    color:gray;
}

#au
{
    position:fixed;
    color:black;
    top:0;
    left:0;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("../../image/back2.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}

input, button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
}
