[data-tab-content]{
    display:none;
}

.active[data-tab-content]{
    display:block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tabs
{
    display:flex;
    justify-content:space-around;
    list-style-type:none;
    height:auto;
    padding:0.8%;
    width:100%;
    border-top: 5px solid #6521ff;
    position:fixed;
    bottom:0;
    background-color:#8d5cff;
}

.tab
{
    cursor:pointer;
    margin:2px;
}

.tab.active
{
    background-color: #8f5eff;
}

.tab:hover
{
    background-color: #6521ff;
}

.tab-content
{
    margin-left:20px;
    margin-right:20px;
    position:fixed;
    width:100%;
    bottom:11.5%;
    background-color: #b899ff;
    border-top: 5px solid #8d5cff;
}

h1
{
    color:#30009c;
    padding:0;
    top:0;
    position:fixed;
}

#switch
{
    color:#30009c;
    padding:0;
    top:0;
    right:0;
    position:fixed;
}

#switch:hover
{
    color:#4804e0;
}

#au
{
    color:#30009c;
    padding:0;
    top:0;
    left:0;
    position:fixed;
}

#final
{
    position:fixed;
    right:0;
    top:50%;
}

.appear
{
    position:fixed; 
    top:20%;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("../../image/back.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}

input, button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
}
